<ion-header>
  <ion-toolbar color="primary">
    <ion-title size="Large">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form action="" class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">

    <ion-item>
      <ion-label position="floating" color="">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" 
        *ngIf="validations_form.get('email').
         hasError(validation.type)&&
         validations_form.get('email')
         .dirty||validations_form.get('email').touched">{{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" 
        *ngIf="validations_form.get('password').
        hasError(validation.type)&&
        validations_form.get('password')
     .dirty||validations_form.get('password').touched">{{validation.message}}
        </div>
      </ng-container>
    </div>

    <ion-button class="submit-btn" type="submit" [disabled]="!validations_form.valid">Login</ion-button>

    <label for="" class="error-message">{{errorMessage}}</label>
  </form>
  <p class="go-to-register">No account yet ? <a (click)="goToRegisterPage()">Create an account</a>
  </p>
</ion-content>
<ion-grid>
  <ion-row>
    <ion-col col-4>
      <button ion-button icon-only block class="btn-facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-only block class="btn-twitter">
        <ion-icon name="logo-twitter"></ion-icon>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-only block class="btn-gplus">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

    